# The Heavy Hitters (Data & Infrastructure)
data/
.terraform/
terraform.tfstate*

# Virtual Environments
.venv/
.venv
venv/
env/

# Python Caches
__pycache__/
**/*.pyc
**/*.pyo

# Local Logs & Notebooks
logs/
notebooks/

# Ignore ALL stray data files
**/*.csv
**/*.parquet
**/*.json
**/*.xml
**/*.log

# Caches & IDEs
.bruin/
.vscode/
.git/

# Security
.env
